<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Test server" verbose="1">
    <test name="test CityInfo">
        <classes>
            <class name="ukr.cases.TestCityInfo">
                <methods>
                    <include name="testGetCityInfoUkrUkr"/>
                    <include name="testGetCityInfoUkrRu"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="test GetShop">
        <classes>
            <class name="ukr.cases.TestGetShop">
                <methods>
                    <include name="testGetShop"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="test GetCategories">
        <classes>
            <class name="ukr.cases.TestCategories">
            </class>
        </classes>
    </test>
</suite>